---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { Icon } from "astro-icon";
const features = [
  {
    title: "Ideation",
    description: "We collaborate with startups, enterprises and innovators across different sectors to generate feasible product ideas with clear development and manufacturing deliverables.", 
    icon: "carbon:idea",
  },
  {
    title: "Prototyping",
    description:
      "We leverage our extensive experience of the best hardware platforms for affordable prototyping/RnD costs with very fair mass production clauses.",
    icon: "bi:gear-wide-connected",
  },
  {
    title: "Mass Production",
    description:
      "We have good working relations with PCBA, product assembly factories and key electronic component distributors that allows to plan and mesh our mass production runs seamlessly with product timelines.",
    icon: "fluent:building-factory-16-filled",
  },
];
---
<Container id="services">
    <Sectionhead>
      <Fragment slot="title">Our Services</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item,index) => (
      <div class="flex gap-4 items-start">
      <div class="mt-1 bg-orange-500 rounded-full  p-2 w-20 h-20 shrink-0"> 
          {(
             <Icon class="text-black" name={item.icon} />
          )}
        
          </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-lg text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
</Container>